<div id='pad_title'>
  <div class="nd_breadcrumb"></div>
  <div class="title_container">
    <input id='title' value="Loading...">
  </div>
  <div><img id='save_title' src="../static/plugins/ep_set_title_on_pad/static/img/tick.png"/></div> 
</div>

<style type="text/css">
  #pad_title {
    font-weight: normal;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;
    font-size: 18px;
  }
  .nd_breadcrumb{
    display: flex;
      flex-direction: row;
  }
  .nd_breadcrumb a {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 0 6px;
  }
  .nd_breadcrumb > a::before{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #5d7af3;
    position: absolute;
    bottom: -3px;
    transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nd_breadcrumb > a:hover::before{
    width: 93%;
  }
  .nd_breadcrumb > a::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    border: 2px solid #363636;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    border-radius: 0 4px 0 0;
  }
  #save_title{
    padding-top: 5px;
    cursor: pointer;
    transform: scale(.7);
    opacity: 0;
    transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
  }
  .save_title_show {
    transform: scale(1) !important;
    opacity: 1 !important;
    visibility: visible !important;
}
  #pad_title {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
    padding: 3px 10px;
    border-bottom: 1px solid #ccc !important;
  }
  
  #title{
    display: flex;
    padding: 3px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  #title:hover {
    border-color : #e5e5e5;
    overflow: visible;
  }
  #title:focus {
    border : 2px solid #1a73e8 !important ;
    box-shadow: none;
  }
  
  @media print{
    #edit_title, #save_title{
      display:none;
    }
  }
  @media (max-width: 720px){
    #pad_title{
      display:none !important;
    }
  }
</style>
