<div id='pad_title'>
  <input id='title' value="Untitled document">
  <!-- <input id='input_title'>
  <div id='edit_title' class='acl-write buttonicon buttonicon-pencil-alt'></div>
  <div id='save_title'><button class="btn btn-primary">OK</button></div> -->
</div>

<style type="text/css">
  #pad_title {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
    padding: 3px 10px;
    border-bottom: 1px solid #ccc !important;
  }
  
  #title{
    /* line-height:30px; */
    display: flex;
    max-width: calc(100% - 30px);
    font-variant-ligatures: no-contextual;
    line-height: 22px;
    border: 1px solid transparent;
    height: 35px;
    font-size: 21px !important;
    font-weight: normal;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif !important;
    margin-left: 15px;
    padding: 5px;
    width: 100%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  #title:hover {
    border-color : #e5e5e5;
    overflow: visible;
  }
  #title:focus {
    border : 2px solid #1a73e8 !important ;
    box-shadow: none;
  }
  
  @media print{
    #edit_title, #save_title{
      display:none;
    }
  }
  @media (max-width: 720px){
    #pad_title{
      display:none !important;
    }
  }
</style>

<script src="../static/js/jquery.js"></script>


